<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922344312023-uqa01n10bm6i9s4d7s1qu5s1litjqis7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922344312023-uqa01n10bm6i9s4d7s1qu5s1litjqis7</string>
	<key>API_KEY</key>
	<string>AIzaSyBxiTlakSeejMCfX4bU5tW9smru2068VNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>922344312023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>gils-boy</string>
	<key>STORAGE_BUCKET</key>
	<string>gils-boy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922344312023:ios:425626b8817abece2ab492</string>
	<key>DATABASE_URL</key>
	<string>https://gils-boy.firebaseio.com</string>
</dict>
</plist>